body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: rgb(77, 83, 60);
  font-family: Poppins;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
._container {
  max-width: 1161px;
  margin: 0px auto;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/////////////////////////
.container-png {
  width: 100%;
  height: 100%;
}
